.update-student{
input{
    padding: 15px !important;
}}

.AddButton{
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(23 188 238 / 60%);;
    border: 1px dotted rgb(23 188 238 / 60%);
    cursor: pointer
}